.channel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.backButton {
    position: absolute !important;
    right: 5px;
    min-width: 0 !important;
    padding: 0 !important;
    z-index: 3;
    color: white !important;
}

@media all and (min-aspect-ratio: 7/5) {
    .channel {
        flex-direction: row !important;
    }

    .backButton {
        top: 5px;
        right: 350px;
    }
}