.toolbar {
    position: absolute;
    top: 0;
    right: 0;
}

.logoutButton {
    color: inherit !important;
    margin-left: 7px;
}

.loginButton {
    cursor: pointer;
}

.loggedOut {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}