body {
    margin: 0;
    //background-color: #1E1E1E;
}

body, .main, .channel {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}



.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav {
    height: 30px;
    min-height: 0 !important;
    background-color: #EF5F22;
}

.nav h1 {
    line-height: unset !important;
}



@media all and (min-aspect-ratio: 7/5) {
    .content {
        flex-direction: row !important;
    }

    .video-container-container {
        width: unset;
        flex: 1;
    }

    .chat {
        width: 340px;
        flex: none;
        margin: 0;
    }
}